{% extends 'base.html.twig' %}

{% block title %}Vacature toevoegen{% endblock %}

{% block body %}

    <h1>Vacature toevoegen</h1>
    
    <form action="{{ path('save_vacature') }}" method="POST">
        <label for="vacature_id"></label>
        <input type="text" name="vacature_id" value='{{ data.id | default(null) }}'><br>

        <label for="titel">Titel:</label>
        <input type="text" name="titel" value='{{ data.titel | default(null) }}'><br>

        <label for="datum">Datum:</label>
        <input type="date" name="datum"><br>

        <label for="niveau">Niveau:</label>
        <input type="text" name="niveau" value='{{ data.niveau | default(null) }}'><br>

        <label for="plaats">Plaats:</label>
        <input type="text" name="plaats" value='{{ data.plaats | default(null) }}'><br>

        <label for="omschrijving">Omschrijving:</label>
        <input type="text" name="omschrijving" value='{{ data.omschrijving | default(null) }}'><br>

        <label for="logo">Logo:</label>
        <input type="text" name="logo_id" value='{{ data.logo_id | default(null) }}'><br>        

        <input type="submit" name="btnSubmit" value="Opslaan">

{% endblock %}