{% extends 'base.html.twig' %}

{% block title %}Sollicitatie{% endblock %}

{% block body %}

    <h1>Sollicitatie van {{data.user.voornaam}}</h1>
    <h3>voor de functie: {{data.vacature.titel}}</h3>

    <p>motivatie: {{data.user.motivatie}}</p>
    <p>cv: {{data.user.cv}}</p>

    
    <form action="{{ path('save_sollicitatie') }}" method="POST">
        <label for="id"></label>
        <input type="text" name="id" value='{{ data.id | default(null) }}'><br>

        <label for="vacature_id"></label>
        <input type="text" name="vacature_id" value='{{ data.vacature.id | default(null) }}'><br>

        <label for="user_id"></label>
        <input type="text" name="user_id" value='{{ data.user.id | default(null) }}'><br>

        <label for="uitgenodigd">Uitgenodigen?</label>
        <input type="text" name="uitgenodigd" value='{{ data.uitgenodigd | default(null) }}'>*0 = nee, 1 = ja<br>       

        <input type="submit" name="btnSubmit" value="Opslaan">
{% endblock %}
