{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/vegas-style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vegas/vegas.css') }}"/>
{% endblock %}

{% block javascripts %}
        <script src="{{ asset('assets/vegas/vegas.js') }}"></script>
{% endblock %}

{% block header %}
<div class="row">
    <div class="col-md-10">
    </div>
    <div class="col-md-1 mb-2 bebas">
        <a style="text-decoration: none" href="/register">
            <h3 style="color: white">Registreren</h3>
        </a>
    </div>
    <div class="col-md-1 mb-2 bebas">
        <a style="text-decoration: none" href="/login">
            <h3 style="color: white">Inloggen</h3>
        </a>
    </div>
</div>
{% endblock %}

{% block body %}
<script>
    $(document).ready( function() {
        const mySlides = [
            { src: "assets/img/logo/logo-windows.png" },
            { src: "assets/img/logo/logo-linux.png" },
            { src: "assets/img/logo/logo-php.png" },
        ]
            
        $("#background-image").vegas({
            overlay: 'assets/vegas/overlays/02.png',
            slides: mySlides
        })
    })
</script>


<div class="container-fluid">
    <div class="row" style="background-color: var(--orange)">
        <div class="col-md-4">
            <div class="hex2" style="top: 25%">
                <div class="hex2-background">
                    <div class="mySlides">
                    </div>
                    <img src="assets/img/logo/logo-windows.png">
                </div>
            </div>
        </div>

        <div class="col-md-8 mt-3">
            {% for vacature in vacatures|slice(0, 3) %}
                <div class="row" style="height: 150px">
                    <div class="col-md-2">
                        <div class="hex">
                            <div class="hex-background">
                                <img src="assets/img/logo/{{vacature.logo.logo}}">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 style="font-size: 18px">{{ vacature.datum|date('d-m-Y')}}</h2>
                            </div>

                            <div class="col-md-12">
                                <h2 style="color: white">{{ vacature.titel }} voor {{ vacature.user.bedrijf }}</h2> 
                            </div>

                            <div class="col-md-12">
                            <p>{{ vacature.omschrijving }}..</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <center><a href="/vacature/show/{{vacature.id}}">
                            <br>
                            <i class="fas fa-arrow-right fa-5x" style="color: white"></i>
                        </a><center>
                    </div>
                </div> 
                <br><br>
            {% endfor %}
        </div>
    </div>

</div>        
{% endblock %}
