{% extends 'base.html.twig' %}

{% block title %} {{vacature.titel}} {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-3">
            <img src="assets/img/logo/{{vacature.logo.logo}}" width="350" height="200">
            <img src="assets/img/logo/{{vacature.user.logo.logo}}" width="200" height="100">
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <h2 style="font-size: 18px">{{ vacature.datum|date('d-m-Y')}}</h2>
                </div>
                <div class="col-md-12">
                    <h2 style="font-size: 42px">{{vacature.titel}} voor {{vacature.user.bedrijf}}</h2>
                </div>
                <div class="col-md-6 mt-2">
                    <h1 style="font-size: 28px"><span style="color: var(--orange)">Niveau:</span>&ensp;{{vacature.niveau}}</h1>
                </div>
                <div class="col-md-6 mt-2">
                    <h1 style="font-size: 28px"><i class="fas fa-map-marker-alt" style="color: var(--orange)"></i>&ensp;{{vacature.plaats}}</h1>
                </div>
                <div class="col-md-11 mt-4">
                    <p>{{vacature.omschrijving}}<p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-3">
            <a href="/candidate/savesollicitatie/{{vacature.id}}">
                <i class="fas fa-arrow-right fa-3x" style="color: var(--orange); float: right"></i>
            </a>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <a style="text-decoration: none" href="/candidate/savesollicitatie/{{vacature.id}}">
                        <h1 style="color: var(--orange)">Solliciteer direct</h1>
                    </a>
                </div>
                <div class="col-md-12 mt-2">
                    <h1 style="font-size: 28px">Meer vacatures van <span style="color: var(--orange)">{{vacature.user.bedrijf}}</span></h1>
                </div>
                <div class="col-md-2 mt-2">
                    <h1 style="font-size: 24px">Datum</h1>
                </div>
                <div class="col-md-3 mt-2">
                    <h1 style="font-size: 24px">Vacature</h1>
                </div>
                <div class="col-md-7 mt-2">
                    <h1 style="font-size: 24px">Niveau</h1>
                </div>

                {% for vacature in vacature.user.vacatures %}
                <div class="row mt-1">           
                    <div class="col-md-2">
                        <p>{{vacature.datum|date('d-m-Y')}}</p>
                    </div>
                    <div class="col-md-3">
                        <a style="text-decoration: none" href="/vacature/show/{{vacature.id}}">
                            <p style="color: var(--orange)">{{vacature.titel}}</p>
                        </a>
                    </div>
                    <div class="col-md-7">
                        <p style="text-transform: uppercase">&ensp;{{vacature.niveau}}</p>
                    </div>
                    <hr style="width: 70%">
                </div>    
                {% endfor %}

            </div>
        </div>
    </div>
</div>    

{% endblock %}
