{% extends 'base.html.twig' %}

{% block title %}Hello {{ user.voornaam }}!{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
            Profielfoto
		</div>

		<div class="col-md-10">
			<div class="row">
				<div class="col-md-12">
                    <h1 style="font-size: 48px; color: var(--orange)">Mijn profiel</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
                    Voornaam
				</div>
				<div class="col-md-8">
                    Achternaam
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
                    Email
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
                    Geboortedatum
				</div>
				<div class="col-md-8">
                    Telefoonnummer
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
                    Adres
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
                    Postcode
				</div>
				<div class="col-md-8">
                    Plaats
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
                    <h1 style="color: var(--orange)">Motivatie</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
                    Motivatietekst
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
                    CV
				</div>
				<div class="col-md-6">
                    <a style="text-decoration: none" href="">
                        <i class="fas fa-arrow-right fa-3x" style="color: var(--orange)"></i>
                        <h1 style="color: var(--orange)">Opslaan</h1>
                    </a>
				</div>
			</div>
		</div>
	</div>
</div>

    
    
    <form action="{{ path('save_user') }}" method="POST">
        <label for="user_id"></label>
        <input type="hidden" name="user_id" value='{{ user.id }}'><br>

        <label for="username"></label>
        <input type="hidden" name="username" value='{{ user.username }}'><br>

        <label for="password"></label>
        <input type="hidden" name="password" value='{{ user.password }}'><br>

        <label for="voornaam">Voornaam:</label>
        <input type="text" name="voornaam" value='{{ user.voornaam | default(null) }}'><br>

        <label for="achternaam">Achternaam:</label>
        <input type="text" name="achternaam"  value='{{ user.achternaam | default(null) }}'><br>

        <label for="geboortedatum">Geboortedatum:</label>
        <input type="date" name="geboortedatum"><br>

        <label for="plaats">Telefoonnummer:</label>
        <input type="text" name="telefoonnummer" value='{{ user.telefoonnummer | default(null) }}'><br>

        <label for="adress">Adres:</label>
        <input type="text" name="adress" value='{{ user.adress | default(null) }}'><br>

        <label for="postcode">Postcode:</label>
        <input type="text" name="postcode" value='{{ user.postcode | default(null) }}'><br> 

        <label for="woonplaats">Woonplaats:</label>
        <input type="text" name="woonplaats" value='{{ user.woonplaats | default(null) }}'><br>               

        <label for="motivatie">Motivatie:</label>
        <input type="text" name="motivatie" value='{{ user.motivatie | default(null) }}'><br>        
        
        <label for="cv">CV:</label>
        <input type="file" name="cv" value='{{ user.cv | default(null) }}'><br>        

        <label for="profielfoto">Profielfoto:</label>
        <input type="file" name="profielfoto" value='{{ user.profielfoto | default(null) }}'><br>        

        <input type="submit" name="btnSubmit" value="Opslaan">
{% endblock %}
