{% extends 'base.html.twig' %}

{% block title %}Hello {{ user.voornaam }}!{% endblock %}

{% block body %}
<div class="container-fluid">
    <form action="{{ path('save_user') }}" method="POST">
    <label for="user_id"></label>
        <input type="hidden" name="user_id" value='{{ user.id }}'>

        <label for="username"></label>
        <input type="hidden" name="username" value='{{ user.username }}'>

        <label for="password"></label>
        <input type="hidden" name="password" value='{{ user.password }}'>

	<div class="row">
		<div class="col-md-2">
            <div class="hex">
                <div class="hex-background">
                    {% if user.profielfoto == "default" %}
                        <img src="assets/img/users/persoon.png">
                    {% else %}
                        <img src="assets/img/users/{{user.profielfoto}}">
                    {% endif %}
                </div>
            </div>
            <label for="profielfoto"></label>
            <input type="file" name="profielfoto" value='{{ user.profielfoto | default(null) }}'>
		</div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-12 bebas">
                    <h1 style="font-size: 48px; color: var(--orange)">Mijn profiel</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
                    <div class="bebas" style="font-size: 16px"><label for="voornaam">Voornaam</label></div>
                    <input type="text" name="voornaam" style="border: none; border-bottom: solid 1px var(--orange); font-size: 25px" value='{{ user.voornaam | default(null) }}'>
				</div>
				<div class="col-md-8">
                    <div class="bebas" style="font-size: 16px"><label for="achternaam">Achternaam</label></div>
                    <input type="text" name="achternaam" style="border: none; border-bottom: solid 1px var(--orange); font-size: 25px" value='{{ user.achternaam | default(null) }}'>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 mt-3">
                    <div class="bebas" style="font-size: 16px"><label for="geboortedatum">Geboortedatum</label></div>
                    <input type="date" name="geboortedatum" style="border: none; border-bottom: solid 1px var(--orange); font-size: 25px" value='{{ user.geboortedatum | date('d-m-Y') | default(null)}}'>
				</div>
				<div class="col-md-8 mt-3">
                    <div class="bebas" style="font-size: 16px"><label for="telefoonnummer">Telefoonnummer</label></div>
                    <input type="text" name="telefoonnummer" style="border: none; border-bottom: solid 1px var(--orange); font-size: 25px" value='{{ user.telefoonnummer | default(null) }}'>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mt-3">
                    <div class="bebas" style="font-size: 16px"><label for="adress">Adres</label></div>
                    <input type="text" name="adress" style="border: none; border-bottom: solid 1px var(--orange); font-size: 25px; width: 55%" value='{{ user.adress | default(null) }}'>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 mt-3">
                    <div class="bebas" style="font-size: 16px"><label for="postcode">Postcode</label></div>
                    <input type="text" name="postcode" style="border: none; border-bottom: solid 1px var(--orange); font-size: 25px" value='{{ user.postcode | default(null) }}'>
				</div>
				<div class="col-md-8 mt-3">
                    <div class="bebas" style="font-size: 16px"><label for="woonplaats">Woonplaats</label></div>
                    <input type="text" name="woonplaats" style="border: none; border-bottom: solid 1px var(--orange); font-size: 25px" value='{{ user.woonplaats | default(null) }}'>
				</div>
			</div>
            <br><br>
			<div class="row">
				<div class="col-md-12 bebas">
                    <h1 style="color: var(--orange)">Motivatie</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
                    <label for="motivatie"></label>
                    <input type="text" name="motivatie" style="border: none; width: 55%; height: 300px" value='{{ user.motivatie | default(null) }}'>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
                    <i class="fas fa-file fa-3x" style="color: var(--orange)"></i>
                    <label for="cv"></label>
                    <input type="file" name="cv" value='{{ user.cv | default(null) }}'>
				</div>
				<div class="col-md-6 bebas">
                        <i class="fas fa-arrow-right fa-3x" style="color: var(--orange)"></i>
                        <input type="submit" name="btnSubmit" style="border: none; background: none; color: var(--orange); font-size: 35px" value="Opslaan">
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
